body {
    background-image: url(../gifbasq.gif);
    background-size: 100%;
    font-size: 30px;
}
.container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    border-radius: 10px;
    align-items: center;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}
h1 {
    color: #2F54FF;
}
img {
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
    width: 300px;
}
img:hover {
    transform: scale(1.1);
}
ul li img {
    max-width: 100%;
}
ul {
    list-style: none;
    margin-top: 20px;
}
.p1 {
    background-color: #b07d7d;
}
.mj {
    font-size: 25px;
    color: #FCFDF7;
}
.titmj {
    color: #FCFDF7;
}
.jog1 img {
    width: 600px;
}
.jog2 {
    color: #FCFDF7;
    font-size: 30px;
}
.jog3 {
    color: #FCFDF7;
    font-size: 25px;
    list-style: none;   
}
.jog4 {
    color: #FCFDF7;
    font-size: 30px;
}
.jog5 {
    color: #FCFDF7;
    font-size: 25px;
}

.jog3 img {
    width: 500px;
}
.jog4 img {
    width: 230px;
}
.jog5 img {
    width: 430px;
}
.grupo {
    color: #2F54FF;
}
